
    #nav-menu-item-4533 .bellow_header > .inner > ul {
        width: 600%;
        box-sizing: border-box;
    }

    #nav-menu-item-4533 .bellow_header li.menu-item-has-children {
        float: left;
        width: 33%;
        box-sizing: border-box;
    }


    #nav-menu-item-4533 .bellow_header {
        width: 670px;
        max-width: 900%;
    }

    #nav-menu-item-4533 .sub-div h4 {
        width: 180px;
        padding: 10px 15px;
        line-height: 15px;
        background: white;
        text-align: center;
        border: 1px solid #eaeaea;
    }

    #nav-menu-item-4533 .sub-div h4 small {
        font-size: 65%;
    }

    #nav-menu-item-4533 .sub-div a:hover {
        color: #00aeef;
    }



    #short-shortcut {
        width: 100%;
        float: left;
        margin-top: 50px;
            margin-bottom: 50px
        }
    .quater-four {
        width: 23%;
        float: left;
        margin-left: 12px;
        
    }
    .bold-header {
        text-align: center;
       font-size: 150%;
    }
