<link rel="stylesheet" type="text/css" href="../../Content/StyleSheet/pages/layout.css" />



<style>
    #footer {
            background: darkgray;
            height: 300px;
            margin-top: 180px;
    }

    #footer .quater-four {
        margin-top: 40px;
    }
</style>


<div id="footer">
    <div id="footer-header">
        <div class="quater-four">
            <div>
                <span class="bold-header">Site map</span>
            </div>
            <div>
                <ul>
                    <li>
                        Trang chủ
                    </li>
                    <li>
                        Sân khấu và đạo cụ
                    </li>
                    <li>
                        Thuê studio
                    </li>
                    <li>
                        Nội thất và thời trang
                    </li>
                    <li>
                        Dịch vụ
                    </li>
                    <li>
                        About
                    </li>
                    <li>
                        Blog
                    </li>
                    <li>
                        Liên hệ
                    </li>
                </ul>
            </div>
        </div>
        <div class="quater-four">
            <div>
                <span class="bold-header">Bài viết mới</span>
            </div>
            <div>

            </div>
        </div>
        <div class="quater-four">
            <div>
                <span class="bold-header">Mạng xã hội</span>
            </div>
            <div>
                <ul>
                    <li>
                        Facebook
                    </li>
                    <li>
                        Twitter
                    </li>
                    <li>
                        Istagram
                    </li>
                    <li>
                        Blog
                    </li>
                </ul>
            </div>
        </div>
        <div class="quater-four">
            <div>
                <span class="bold-header">Liên hệ</span>
            </div>
            <div>
                <ul>
                    <li>
                        Vũng tàu
                    </li>
                    <li>
                        Bichthiep@gmail.com
                    </li>
                    <li>
                        Tel : 0123456789
                    </li>
                    <li>
                        Tel : 0987654321
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div id="footer-footer">
        
    </div>

</div>