<link rel="stylesheet" type="text/css" href="../../Content/StyleSheet/master-pages.css"/>




<header class="page_header has_top scroll_top  fixed" style="top: 0px; margin-top: 0px;">
    <div class="header_inner clearfix">

        <form role="search" id="searchform" action="http://www.fdphotostudio.com/" class="qode_search_form" method="get">
            <div class="container">
                <div class="container_inner clearfix">

                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search" name="s" class="qode_search_field" autocomplete="off">
                    <input type="submit" value="Search">

                    <div class="qode_search_close">
                        <a href="#">
                            <i class="fa fa-times"></i>
                        </a>

                    </div>

                </div>
            </div>
        </form>

        <div class="header_top_bottom_holder">
            <div id="cookie-user-message" style="color: #00AEEF; display: block; text-align: center; background: white;">

            </div>
            <div class="header_top clearfix" style="display: block; background-color: rgba(255, 255, 255, 0.8);">
                <div class="container">
                    <div class="container_inner clearfix">
                        <div class="left">
                            <div class="inner">
                                <div class="header-widget widget_text header-left-widget">
                                    <div class="textwidget"><span class="q_social_icon_holder"><a href="http://instagram.com/fdphotostudio" target="_blank"><i class="fa fa-instagram fa-lg simple_social" style="color: #777777;"></i></a></span> <span class="q_social_icon_holder"><a href="https://www.facebook.com/FDPhotoStudio" target="_blank"><i class="fa fa-facebook fa-lg simple_social" style="color: #777777;"></i></a></span> <span class="q_social_icon_holder"><a href="https://twitter.com/FDPhotoStudio" target="_blank"><i class="fa fa-twitter fa-lg simple_social" style="color: #777777;"></i></a></span> <span class="q_social_icon_holder"><a href="http://www.modelmayhem.com/1854051" target="_blank"><i class="fa fa-maxcdn fa-lg simple_social" style="color: #777777;"></i></a></span> <span class="q_social_icon_holder"><a href="http://www.yelp.com/biz/fd-photo-studio-los-angeles-3" target="_blank"><i class="fa fa-yen fa-lg simple_social" style="color: #777777;"></i></a></span> <span class="q_social_icon_holder"><a href="https://plus.google.com/+FDPhotoStudioLosAngeles" target="_blank"><i class="fa fa-google-plus fa-lg simple_social" style="color: #777777;"></i></a></span></div>
                                </div><div class="header-widget widget_text header-left-widget">
                                    <div class="textwidget">
                                        <div style="margin-left:8em;">
                                            <div itemscope="" itemtype="http://schema.org/Product">
                                                <meta itemprop="name" content="&nbsp;&nbsp;"><div class="tt_average_rating_box " itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                                    <meta itemprop="ratingValue" content="4.9">
                                                    <meta itemprop="ratingCount" content="52"><span class="tt_star_wrap"><span class="tt_rating_box_star_label">Studio&nbsp;Rating&nbsp;</span><span class="tt_rating_box_stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span></span><span class="tt_rating_box_total">&nbsp;from&nbsp;52&nbsp;Reviews&nbsp;(<a href="http://www.fdphotostudio.com/testimonials/"> see all</a> )</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="inner">
                                <div class="header-widget widget_text header-right-widget">
                                    <div class="textwidget"><span style="padding: 0 5px 0 15px;">Contact us: <strong>+1 (323) 454-2323</strong></span><span style="padding: 0 15px 0 5px;"> <a href="mailto:info@fdphotostudio.com">info@fdphotostudio.com</a></span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="header_bottom clearfix" style=" background-color:rgba(255, 255, 255, 0.8);">
                <div class="container">
                    <div class="container_inner clearfix">
                        <div class="header_inner_left">
                            <div class="mobile_menu_button"><span><i class="fa fa-bars"></i></span></div>
                            <div class="logo_wrapper" style="height: 85px;">
                                <div class="q_logo"><a href="http://www.fdphotostudio.com/" style="height: 80px; visibility: visible;"><img class="normal" src="http://www.fdphotostudio.com/wp-content/uploads/2014/05/website-full-black-s1.png" alt="Logo" style="height: 100%;"><img class="light" src="http://www.fdphotostudio.com/wp-content/uploads/2014/05/website-full-white-s1.png" alt="Logo" style="height: 100%;"><img class="dark" src="http://www.fdphotostudio.com/wp-content/uploads/2014/05/website-full-black-s1.png" alt="Logo" style="height: 100%;"><img class="sticky" src="http://www.fdphotostudio.com/wp-content/uploads/2014/05/website-full-black-s1.png" alt="Logo" style="height: 100%;"></a></div>

                            </div>
                        </div>

                        <div id="cookie-cabinet" style="color: #00AEEF; display: table; float: right; padding-left: 15px;">
                            <span class="side_menu_button" style="font-size: 20px; text-align: right; height: 85px;">
                                <a style="font-size: 18px; color: #00AEEF;" href="/appointment-cabinet">Sign in</a>
                            </span>
                        </div>

                        <div class="header_inner_right">

                            <div class="side_menu_button_wrapper right">
                                <div class="side_menu_button" style="height: 85px;">
                                    <a class="search_button" href="javascript:void(0)">
                                        <i class="fa fa-search"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <nav class="main_menu drop_down right">
                            <ul id="menu-main-menu" class="">
                                <li id="nav-menu-item-2177" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active narrow"><a href="/" class=" current " style="line-height: 85px;"><i class="menu_icon fa blank"></i><span>Home</span></a></li>
                                <li id="nav-menu-item-4533" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  has_sub narrow">
                                    <a href="#" class="" style="line-height: 85px;"><i class="menu_icon fa blank"></i><span>Stages</span><i class="q_menu_arrow fa fa-angle-down"></i></a>
                                    <div class="second bellow_header center" style="height: 0px; top: 85px; left: -300px !important;">
                                        <div class="inner">
                                            <div class="row">

                                                <div class="vc_col-xs-4 sub-div">
                                                    <h4>
                                                        530 East 8th Street
                                                        <br>
                                                        <small>+1 (323) 454-2323</small>
                                                    </h4>
                                                    <ul>
                                                        <li id="nav-menu-item-6384" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/studio-rent/stage-a/" class=""><i class="menu_icon fa blank"></i><span>Stage A</span></a></li>
                                                        <li id="nav-menu-item-6385" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/studio-rent/stage-b/" class=""><i class="menu_icon fa blank"></i><span>Stage B</span></a></li>
                                                        <li id="nav-menu-item-6386" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/studio-rent/stage-c/" class=""><i class="menu_icon fa blank"></i><span>Stage C</span></a></li>
                                                        <li id="nav-menu-item-6387" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/studio-rent/stage-d/" class=""><i class="menu_icon fa blank"></i><span>Stage D</span></a></li>
                                                        <li id="nav-menu-item-6388" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/studio-rent/stage-f/" class=""><i class="menu_icon fa blank"></i><span>Stage F</span></a></li>
                                                    </ul>
                                                </div>
                                                <div class="vc_col-xs-4 sub-div">
                                                    <h4>
                                                        1048 S Santee Street<br>
                                                        <small>+1 (213) 536-5631</small>
                                                    </h4>
                                                    <ul>
                                                        <li id="nav-menu-item-6379" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/studio-rent/art-1/" class=""><i class="menu_icon fa blank"></i><span>Art 1</span></a></li>
                                                        <li id="nav-menu-item-6380" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/studio-rent/art-2/" class=""><i class="menu_icon fa blank"></i><span>Art 2</span></a></li>
                                                        <li id="nav-menu-item-6381" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/studio-rent/art-3/" class=""><i class="menu_icon fa blank"></i><span>Art 3</span></a></li>
                                                        <li id="nav-menu-item-6382" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/studio-rent/art-4/" class=""><i class="menu_icon fa blank"></i><span>Art 4</span></a></li>
                                                        <li id="nav-menu-item-6383" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/studio-rent/rooftop/" class=""><i class="menu_icon fa blank"></i><span>Rooftop</span></a></li>
                                                    </ul>
                                                </div>
                                                <div class="vc_col-xs-4 sub-div">
                                                    <h4>
                                                        224 East 11th Street<br>
                                                        <small>+1 (323) 454-1314</small>
                                                    </h4>
                                                    <ul>
                                                        <li id="nav-menu-item-6389" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/studio-rent/pro-stage-i/" class=""><i class="menu_icon fa blank"></i><span>Pro Stage I</span></a></li>
                                                        <li id="nav-menu-item-6390" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/studio-rent/pro-stage-ii/" class=""><i class="menu_icon fa blank"></i><span>Pro Stage II</span></a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li id="nav-menu-item-2317" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  has_sub narrow">
                                    <a href="http://www.fdphotostudio.com/studio-rent/" class="" style="line-height: 85px;"><i class="menu_icon fa blank"></i><span>Rent Studio</span><i class="q_menu_arrow fa fa-angle-down"></i></a>
                                    <div class="second bellow_header" style="height: 0px; top: 85px;">
                                        <div class="inner">
                                            <ul>
                                                <li id="nav-menu-item-3962" class="menu-item menu-item-type-custom menu-item-object-custom "><a href="http://www.fdphotostudio.com/studio-rent/#calendar" class=""><i class="menu_icon fa blank"></i><span>Calendar</span></a></li>
                                                <li id="nav-menu-item-2994" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-rent/photo-studio-equipment/" class=""><i class="menu_icon fa blank"></i><span>Equipment</span></a></li>
                                                <li id="nav-menu-item-3260" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-gallery/" class=""><i class="menu_icon fa blank"></i><span>Studio Gallery</span></a></li>
                                                <li id="nav-menu-item-4802" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/testimonials/" class=""><i class="menu_icon fa blank"></i><span>Testimonials</span></a></li>
                                                <li id="nav-menu-item-4576" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/rental-agreement/" class=""><i class="menu_icon fa blank"></i><span>Rules &amp; Agreement</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li id="nav-menu-item-3434" class="menu-item menu-item-type-post_type menu-item-object-page  narrow"><a href="http://www.fdphotostudio.com/studio-photography-workshops-in-los-angeles/" class="" style="line-height: 85px;"><i class="menu_icon fa blank"></i><span>Workshops</span></a></li>
                                <li id="nav-menu-item-4690" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                                    <a href="#" class=" no_link" style="cursor: default; line-height: 85px;" onclick="JavaScript: return false;"><i class="menu_icon fa blank"></i><span>Services</span><i class="q_menu_arrow fa fa-angle-down"></i></a>
                                    <div class="second bellow_header" style="height: 0px; top: 85px;">
                                        <div class="inner">
                                            <ul>
                                                <li id="nav-menu-item-4009" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/retouch/" class=""><i class="menu_icon fa blank"></i><span>High-End Retouch</span></a></li>
                                                <li id="nav-menu-item-5778" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/services/headshots-at-fd-photo-studio/" class=""><i class="menu_icon fa blank"></i><span>Headshots at FD Photo Studio</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li id="nav-menu-item-2111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  has_sub narrow">
                                    <a href="http://www.fdphotostudio.com/about/" class="" style="line-height: 85px;"><i class="menu_icon fa blank"></i><span>About</span><i class="q_menu_arrow fa fa-angle-down"></i></a>
                                    <div class="second bellow_header" style="height: 0px; top: 85px;">
                                        <div class="inner">
                                            <ul>
                                                <li id="nav-menu-item-2518" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/testimonials/" class=""><i class="menu_icon fa blank"></i><span>Testimonials</span></a></li>
                                                <li id="nav-menu-item-2842" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/faqs/" class=""><i class="menu_icon fa blank"></i><span>FAQs</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li id="nav-menu-item-3539" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  has_sub narrow">
                                    <a href="http://www.fdphotostudio.com/blog/" class="" style="line-height: 85px;"><i class="menu_icon fa blank"></i><span>Blog</span><i class="q_menu_arrow fa fa-angle-down"></i></a>
                                    <div class="second bellow_header" style="height: 0px; top: 85px;">
                                        <div class="inner">
                                            <ul>
                                                <li id="nav-menu-item-4629" class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="http://www.fdphotostudio.com/category/blog/photography-blog/" class=""><i class="menu_icon fa blank"></i><span>Photography Blog</span></a></li>
                                                <li id="nav-menu-item-4631" class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="http://www.fdphotostudio.com/category/blog/studio-news/" class=""><i class="menu_icon fa blank"></i><span>Studio News</span></a></li>
                                                <li id="nav-menu-item-4630" class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="http://www.fdphotostudio.com/category/blog/shot-at-fd-photo-studio/" class=""><i class="menu_icon fa blank"></i><span>Shot at FD Photo Studio</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li id="nav-menu-item-2113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  has_sub narrow">
                                    <a href="http://www.fdphotostudio.com/contact/" class="" style="line-height: 85px;"><i class="menu_icon fa blank"></i><span>Contacts</span><i class="q_menu_arrow fa fa-angle-down"></i></a>
                                    <div class="second bellow_header" style="height: 0px; top: 85px;">
                                        <div class="inner">
                                            <ul>
                                                <li id="nav-menu-item-6504" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/contact/main-parking/" class=""><i class="menu_icon fa blank"></i><span>Main Stages Parking</span></a></li>
                                                <li id="nav-menu-item-6503" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/contact/pro-parking/" class=""><i class="menu_icon fa blank"></i><span>PRO Stages Parking</span></a></li>
                                                <li id="nav-menu-item-2983" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/contact/art-parking/" class=""><i class="menu_icon fa blank"></i><span>ART Stages Parking</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>


                        </nav>

                        <script>
                                            var targetid = 4533;
                                            jQuery("#nav-menu-item-" + targetid).html(jQuery("#nav-menu-item-stages").html());
                                            jQuery("#temp_menu").remove();
                        </script>
                        <style>
                            #nav-menu-item-4533 .bellow_header > .inner > ul {
                                width: 600%;
                                box-sizing: border-box;
                            }

                            #nav-menu-item-4533 .bellow_header li.menu-item-has-children {
                                float: left;
                                width: 33%;
                                box-sizing: border-box;
                            }


                            #nav-menu-item-4533 .bellow_header {
                                width: 670px;
                                max-width: 900%;
                            }

                            #nav-menu-item-4533 .sub-div h4 {
                                width: 180px;
                                padding: 10px 15px;
                                line-height: 15px;
                                background: white;
                                text-align: center;
                                border: 1px solid #eaeaea;
                            }

                                #nav-menu-item-4533 .sub-div h4 small {
                                    font-size: 65%;
                                }

                            #nav-menu-item-4533 .sub-div a:hover {
                                color: #00aeef;
                            }
                        </style>
                        <nav class="mobile_menu">
                            <ul id="menu-main-menu-1" class="">
                                <li id="mobile-menu-item-2177" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item active"><a href="/" class=" current "><span>Home</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                <li id="mobile-menu-item-4533" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  has_sub">
                                    <h3 class="no_link_sub"><span class="mobile_arrow"><span>Stages</span><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></h3>
                                    <ul class="sub_menu">
                                        <li id="mobile-menu-item-3252" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-rent/stage-a/" class=""><span>Stage A</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-3251" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-rent/stage-b/" class=""><span>Stage B</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-3250" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-rent/stage-c/" class=""><span>Stage C</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-4620" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-rent/stage-d/" class=""><span>Stage D</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-5887" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-rent/stage-f/" class=""><span>Stage F</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-4619" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-rent/pro-stage-i/" class=""><span>Pro Stage I</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-4618" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-rent/pro-stage-ii/" class=""><span>Pro Stage II</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-6019" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-rent/art-1/" class=""><span>Art 1</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-6020" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-rent/art-2/" class=""><span>Art 2 (Wood)</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-6021" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-rent/art-3/" class=""><span>Art 3</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-6022" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-rent/art-4/" class=""><span>Art 4</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-6203" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-rent/rooftop/" class=""><span>Rooftop</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                    </ul>
                                </li>
                                <li id="mobile-menu-item-2317" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  has_sub">
                                    <a href="http://www.fdphotostudio.com/studio-rent/" class=""><span>Rent Studio</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a>
                                    <ul class="sub_menu">
                                        <li id="mobile-menu-item-3962" class="menu-item menu-item-type-custom menu-item-object-custom "><a href="http://www.fdphotostudio.com/studio-rent/#calendar" class=""><span>Calendar</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-2994" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-rent/photo-studio-equipment/" class=""><span>Equipment</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-3260" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-gallery/" class=""><span>Studio Gallery</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-4802" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/testimonials/" class=""><span>Testimonials</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-4576" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/rental-agreement/" class=""><span>Rules &amp; Agreement</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                    </ul>
                                </li>
                                <li id="mobile-menu-item-3434" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/studio-photography-workshops-in-los-angeles/" class=""><span>Workshops</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                <li id="mobile-menu-item-4690" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
                                    <h3 class="no_link_sub"><span class="mobile_arrow"><span>Services</span><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></h3>
                                    <ul class="sub_menu">
                                        <li id="mobile-menu-item-4009" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/retouch/" class=""><span>High-End Retouch</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-5778" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/services/headshots-at-fd-photo-studio/" class=""><span>Headshots at FD Photo Studio</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                    </ul>
                                </li>
                                <li id="mobile-menu-item-2111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  has_sub">
                                    <a href="http://www.fdphotostudio.com/about/" class=""><span>About</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a>
                                    <ul class="sub_menu">
                                        <li id="mobile-menu-item-2518" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/testimonials/" class=""><span>Testimonials</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-2842" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/faqs/" class=""><span>FAQs</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                    </ul>
                                </li>
                                <li id="mobile-menu-item-3539" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  has_sub">
                                    <a href="http://www.fdphotostudio.com/blog/" class=""><span>Blog</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a>
                                    <ul class="sub_menu">
                                        <li id="mobile-menu-item-4629" class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="http://www.fdphotostudio.com/category/blog/photography-blog/" class=""><span>Photography Blog</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-4631" class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="http://www.fdphotostudio.com/category/blog/studio-news/" class=""><span>Studio News</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-4630" class="menu-item menu-item-type-taxonomy menu-item-object-category "><a href="http://www.fdphotostudio.com/category/blog/shot-at-fd-photo-studio/" class=""><span>Shot at FD Photo Studio</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                    </ul>
                                </li>
                                <li id="mobile-menu-item-2113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  has_sub">
                                    <a href="http://www.fdphotostudio.com/contact/" class=""><span>Contacts</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a>
                                    <ul class="sub_menu">
                                        <li id="mobile-menu-item-6504" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/contact/main-parking/" class=""><span>Main Stages Parking</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-6503" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/contact/pro-parking/" class=""><span>PRO Stages Parking</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                        <li id="mobile-menu-item-2983" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="http://www.fdphotostudio.com/contact/art-parking/" class=""><span>ART Stages Parking</span><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>