@{
    ViewBag.Title = "_News";
}

<style>
     .quater-three {
        width: 30%;
        float: left;
        margin-left: 17px;
        
    }

     #news-div {
         margin-top: 50px;  
         height: 300px;
     }

     
</style>
<div id="news-div">
    <div id="shoot-images" class="quater-three">
        <div class="news-header">
            <b class="bold-header">
                Hình chụp tại Toop House
            </b>
        </div>
        <div class="news-content">
        </div>
    </div>
    <div id="new-studio" class="quater-three">
        <div class="news-header">
            <b class="bold-header">
                Toop House News
            </b>
        </div>
        <div class="news-content">
        </div>
    </div>
    <div id="news-blog" class="quater-three">
        <div class="news-header">
            <b class="bold-header">
                Mẹo và kiến thức
            </b>
        </div>
        <div class="news-content">
        </div>
    </div>
</div>