@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Html.RenderPartial("_HomeHeader");
}
<style>
    #short-shortcut {
        width: 100%;
        float: left;
        margin-top: 50px;
        }
    
    
</style>

<div id="short-shortcut">
    <div class="quater-four">
        <div>
            <span class="bold-header">
                Dịch vụ chụp ảnh
            </span>
        </div>
        <div>
            <span>
                Đây là dịch vụ chụp ảnh của Toop House Studio
            </span>
        </div>
        <div>
            <a href=@Url.Action("Index", "Home")>Xem thêm</a>
        </div>
    </div>

    <div class="quater-four">
        <div>
            <span class="bold-header">
                Thuê studio
            </span>
        </div>
        <div>
            <span >
                Cho thuê studio
                Cho thuê studio
                Cho thuê studio
                Cho thuê studio
                Cho thuê studio
            </span>
        </div>
        <div>
            <a href=@Url.Action("Index", "Home")>Đăt lịch ngay</a>
        </div>
    </div>
    <div class="quater-four">
        <div>
            <span class="bold-header">
                Đạo cụ và nội thất
            </span>
        </div>
        <div>
            <span>
                Những dụng cụ của Toop House studio sẽ làm bạn hài lòng để có bức ảnh đẹp
            </span>
        </div>
        <div>
            <a href=@Url.Action("Index", "Home")>Xem danh sách</a>
        </div>
    </div>
    <div class="quater-four">
        <div>
            <span class="bold-header">
                High-End Retouch
            </span>
        </div>
        <div>
            <span>
                Chỉnh sửa hình ảnh chuyên nghiệp với những công cụ cao cấp nhất
            </span>
        </div>
        <div>
            <a href=@Url.Action("Index", "Home")>Xem chi tiết</a>
        </div>
    </div>
</div>


@{
    Html.RenderPartial("_News");
}